<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bienvenidos a Golf-O</title>
    <link rel="shortcut icon" href="images/Captura de pantalla 2018-12-01 a la(s) 08.21.50.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>

<body>
 
    <section class="hero is-info is-fullheight">
       

            <div class="box imgcentro">
                <img src="images/GolfOonlytextpart.png" alt="logo">
            </div>
            <div class="phone">
                <img src="images/fonos.png" alt="phone">
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Coming Soon
                        </h1>
                        <h2 class="subtitle">
                            Pre-registrate y obtén los primeros 3 meses Gratis!
                            <br>
                    App con más de 300 campos de golf pre-cargados, juega y compite contra tus amigos.

                        </h2>
                        <div class="box">
                            <div class="field is-grouped">
                                <form action="/" method="POST">
                                <p class="control">
                                
                                    <input name="email" class="input" type="email" placeholder="email">
                                </p>
                                <p class="control">
                                    <input type="submit"  class="button is-info"> 
                                </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>